<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="/css/bootstrap-theme.min.css" type="text/css">
        <link rel="stylesheet" href="/css/styles.css" type="text/css">
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <div class="container">
            <h1>Shoes!</h1>
            <li><a href="/stores">View Stores</a></li>
            <li><a href="/brands">View Brands</a></li>
        </div>
    </body>
</html>
